.photo img{
    float: left;
    width: 50px;
}
.identite{
    border-style: hidden;
    background-color: aqua;
    width: auto;
    height: auto;
    float:right;
}
.identite p{
    font-size: larger;
}
.nom img{
    width: 50px;
    display: inline;
}
.adresse img{
    width: 50px;
    display: inline;
}
.mail img{
    width: 50px;
    display:inline;
}
.permis img{
    width: 50px;
    display: inline;
}

.Experience img{
    width: 50px;
}
.Formation img{
    width: 50px;
}
.Competence img{
    width: 50px;
}
.Qualite img{
    width: 50px;
}
.Loisir img{
    width: 50px;
}